%flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

$main-font: 'Rubik Gemstones', cursive;
$sub-font: 'Modak', cursive;
$login-font: 'Rubik Puddles', cursive;
$singlepage-font: 'Bungee Shade', cursive;