.main-title{
  text-align: center;
  position: relative;
  @extend %flex-center;
  flex-direction: column;
}

.stay{
  font-family: $sub-font;
  font-size: 100px;
  position: absolute;
  top: -180px;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #5c00efb3;
}

.icecream{
  @extend %flex-center;
  position: absolute;
  width: 180px;
  top: -180px;
  animation: wave 4s ease-in-out infinite;
}

.cool{
  font-family: $main-font;
  font-size: 100px;
  position: absolute;
  bottom: -280px;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #000dffbe;
}

.main-btn{
  display: flex;
  flex-direction: column;
  font-family: $login-font;
  font-size: 47px;
  color: black;
  background-color: transparent;
  border: transparent;
  position: absolute;
  bottom: 25px;
  left: 50%;
  transform: translate(-50%, -50%);
    &:hover{
      background-color: transparent;
    }
}

  main {
    background: linear-gradient(to bottom, #73ecff, #e4a4ff, #eaffff);
  }

  @keyframes wave {
    0% { transform: translateY(0); }
    50% { transform: translateY(-5px); }
    100% { transform: translateY(0); }
  }