.navbar{
  color: rgb(108, 163, 97);
}
@media (min-width: 600px){
  .navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
  }
}

@media (max-width: 600px){
  .navbar {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
  }
}